<section id="contribute" class="section" aria-labelledby="contribute-heading">
  <h2 id="contribute-heading" class="section-title">Contribute</h2>
  <div class="container">
    <div class="contribute-actions">
      <a role="button" href="{{ site.links.issues }}" ref="noreferrer">Report issue</a>
      <a role="button" href="{{ site.links.translate }}" ref="noreferrer">Translate</a>
      <details class="dropdown">
        <summary role="button">
          Donate
          <span class="icon icon-down" aria-hidden="true"></span>
        </summary>
        <ul>
          <li><a href="{{ site.links.donate.github }}" ref="noreferrer">GitHub Sponsors</a></li>
          <li><a href="{{ site.links.donate.kofi }}" ref="noreferrer">Ko-fi</a></li>
          <li><a href="{{ site.links.donate.liberapay }}" ref="noreferrer">Liberapay</a></li>
          <li><a href="{{ site.links.donate.paypal }}" ref="noreferrer">PayPal</a></li>
        </ul>
      </details>
    </div>
    <p class="muted small">
      This software is licensed under the <a href="{{ site.links.license }}" ref="noreferrer">GPL 3 or later</a>
    </p>
  </div>
</section>
