<section id="hero" aria-labelledby="hero-heading">
  <div class="container">
    <div class="hero-contents">
      <h1 id="hero-heading">Focus Timer</h1>
      <p>Work better with regular breaks</p>
      <div class="hero-actions">
        <a role="button" href="{{ site.links.flathub }}" target="_self" rel="noreferrer" class="primary large">
          <span class="icon icon-flathub-symbolic" aria-hidden="true"></span>
          Get it on Flathub
        </a>
        <a role="button" href="{{ site.links.github }}" target="_self" rel="noreferrer" class="primary outline large">
          <span class="icon icon-github-alt-symbolic" aria-hidden="true"></span>
          View on GitHub
        </a>
      </div>
    </div>
  </div>
</section>
